.auth__sing-up_text {
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

@media screen and (max-width: 510px) {
    .auth__sing-up_text {
        width: 260px;
        margin-left: 30px;
    }
}