.header__menu {
    display: none;
}

@media screen and (max-width: 1073px) {
    .header__menu {
        display: inherit;
        margin: 0;
        display: flex;
        margin-right: 35px;
        margin-bottom: 31px;
    }

    .header__menu:hover{
        cursor: pointer;
        opacity: 0.6;
    }
}