.profile__information {
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1073px) {
    .profile__information {
        flex-direction: column;
        justify-content: center;
        width: 282px;
    }
}